body {
  background-color: rgba(108, 78, 115, 0.454);
  }
  
  h1 {
  font-family: serif;
  color: black;
  text-align: center;
  font-size: 45px;
  margin: 0;
  }
  
  h3 {
  font-family: serif;
  font-size: 20px;
  text-align: center;
  margin: 0;
  }

p {
  margin: 0;
}